/* .container{
  background-color: red;
} */
.jumboBackground{
  position: relative;
}



.jumboBackground::before{
  content:'';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../photos/roofpiping.jpeg);
  /* background-position: top center; */
  background-repeat: no-repeat ;
  background-size: cover;
  opacity: .15;
  font-size: 10px;
}



/* image overlay */
.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.overlay{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
  top: 20px;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  transition: .5s ease;
  opacity: 80%;
}
.container{
  position: relative;
  width: 50%;
  display: inline-block;
  color: black;
}
.container:hover{
  color: rgb(0, 102, 186);
}
.container:hover .overlay{
  width: 70%;
}
.container .colorborder{
  opacity:.2;
}
.container:hover .colorborder{
  opacity:1;
}





/* markets we serve */

.left {
  width: 50% ;
  padding: 60px ;
  background-image: url(./greypattern.svg) ;
  background-repeat: no-repeat ;
  background-size: 380px 506px ;
  background-position: left 0 top 15px ; 
  border-left: 1px solid rgb(190, 190, 190) ;
  border-bottom: 1px solid rgb(190, 190, 190) ;
}
.right {
  width: 50% ;
  padding: 60px ;
  background-image: url(./greypattern.svg) ;
  background-repeat: no-repeat ;
  background-size: 380px 506px ;
  background-position: left 0 top 15px ; 
  border-top: 1px solid rgb(190, 190, 190) ;
  border-right: 1px solid rgb(190, 190, 190) ;
}
.left:hover{
  background-image: url(./bluepattern.svg);
  border-left: 1px solid #003366 ;
  border-bottom: 1px solid #003366 ;
  /* transition-delay: .2s; */
}

.right:hover{
  background-image: url(./bluepattern.svg);
  border-top: 1px solid #003366 ;
  border-right: 1px solid #003366 ;
}







.counterBackground{
  /* background-image: url(../photos/metalpiping.jpeg); */
  /* background-repeat: no-repeat ; */
  /* background-size: cover; */
  position: relative;
  background-color: black;
  padding: 0;
  margin: 0;
}


.counterBackground::before{
  content:'';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../photos/roofpiping.jpeg);
  /* background-position: top center; */
  background-repeat: no-repeat ;
  background-size: cover;
  opacity: .15;
  font-size: 10px;
}



.images{
padding: 0;
margin: 0;
}


.carousel{
background-color: red;
}


/* .carousel_description{
background-color: pink;
} */

.quotebutton {
  background-color: blue;
}

.quotebutton:hover {
  background-color: white;
  transition: .4s all ease;
}