

.navComponent{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px;

}





.navContainer{

    margin: 0 !important;
    padding: 0;
    background-color: white;
    /* height: 100px; */
}









.navbrand {
    background-color: pink;
    margin: auto;
    width: calc(100%/3);
}


.navbrand div{
    display: inline-block;
    background-color: red;

}


.brandLogo{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-decoration: none;
    display: flex;    
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 1s ease-out;
}

.small{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-decoration: none;
    display: flex;    
    transition: 1s ease-in;
}
















.navlinks {
    background-color: yellow;
    margin: auto;
    padding: 0;
    width: calc(100%/3);


}

.navlinks div{
    /* background-color: red; */
    display: flex;
}

.navlinks div div{
    /* background-color: white; */
    margin: 2px;
}

.navlinks div div a{
    font-weight: 500;
    text-decoration: none;
    /* background-color: black; */
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .5s all ease;
    border-bottom: 1px solid white;
    /* border-radius: 15px; */
}

.navlinks div div a:hover{
    background-color: white;
    border-bottom: 1px solid black;
}












.phoneLink{
    background-color: blue;
    margin: auto;
    width: calc(100%/3);
    

}

.phoneLink div{
    text-align: right;
    background-color: orange;
    padding-right: 40px;
}

.phoneLink div a{
    /* background-color: #617f97; */
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    transition: 0.2s ease-in;
    color: black;
    border: 1px solid white;
}

.phoneLink div a:hover{
    /* background-color: black; */
    border: 1px solid black;
    /* color: white; */
}

.phoneLink div a b{
    font-weight: 600;
    margin-left: 10px;
}










.burgercolumn{
    display: none;
}

.burgerContainer{
    background-color: blue;
    margin: auto;
    transition: 1s;
}

.burgerContainerActive{
    background-color: white;
    margin: auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 1s ease all;
    /* background-attachment: fixed; */
    background-position: center;
}


.burgerIcon{
    background-color: white;
    transition: 1s ease all;
    border-radius: 8px;
}

.burgerIcon:hover{
    cursor: pointer;
}

.burgerActive{
    /* display: none; */
    opacity: 0;
    transition: 1s ease all;
    pointer-events: none;
}









.offCanvasBody ul{
    text-align: center;
    list-style-type: none;
}

.offCanvasBody ul li{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}


.offCanvasBody ul li a{
    text-decoration: none;
}

.active{

    padding: 10px;
    border-bottom: 2px solid black;
}








@media screen and (max-width: 1415px) {


    .navlinks{
        display: none;
    }
    
    .phoneLink{
        display: none;
    }

    .burgercolumn{
        display: flex;
    }
}



@media (min-width: 1416px) and (max-width: 1700px) {


    .navbrand{
        width: 25%;
    }

    .navlinks {
        width: 55%;
    }

    .phoneLink{
        width: 20%;
    }
}